.title-text {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 2.2rem;
  color: #67c56e;
  margin-bottom: 4rem;
  position: relative;
}

.title-text::before {
  position: absolute;
  content: '';
  width: 8%;
  height: 6%;
  margin: 0 auto;
  bottom: -14px;
  left: 25.2rem;
  background-color: #25ca7f;
}

.title-text::after {
  position: absolute;
  content: '';
  width: 8%;
  height: 6%;
  margin: 0 auto;
  bottom: -13.6px;
  left: 8rem;
  right: 0;
  background-color: #25ca7f;
}

.title-text span::before {
  content: "";
  position: absolute;
  width: 3%;
  height: 84%;
  border-radius: 50%;
  border: 4px solid #25ca7f;
  /* text-align: center; */
  top: 26px;
  left: 0px;
  right: 0;
  margin: 0 auto;
}

.header {
  position: absolute;
  z-index: 1000;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid #d7d7d7;
}

.header .navbar {
  padding: 1.5rem 1rem 1rem;
}

.header .navbar .navbar-brand {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 4rem;
  letter-spacing: 0.2rem;
  color: #67c56e !important;
}

.header .navbar #collapsibleNavbar .nav-item {
  padding: 0 1rem;
}

.header .navbar #collapsibleNavbar .nav-item .nav-link {
  color: #ffffff !important;
  font-size: 1.6rem;
  font-weight: 700;
  opacity: 0.8;
}

.header .navbar #collapsibleNavbar .nav-item .nav-link:hover {
  color: #67c56e !important;
  font-weight: 600;
  position: relative;
  -webkit-transition: 650ms;
  transition: 650ms;
}

.header .navbar #collapsibleNavbar .nav-item .nav-link.active {
  color: #67c56e !important;
  font-weight: 600;
  position: relative;
  -webkit-transition: color 650ms;
  transition: color 650ms;
}

.header .navbar #collapsibleNavbar .nav-item .nav-link.mybtn1 {
  padding: 0.8rem 2rem;
  color: #ffffff !important;
  background: #6dc77a;
  margin: 0.2rem 0 0;
  -webkit-transition: all 750ms ease;
  transition: all 750ms ease;
}

.header .navbar #collapsibleNavbar .nav-item .nav-link.mybtn1:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.header .navbar #collapsibleNavbar .nav-item .nav-link.mybtn1:hover {
  margin: -0.2rem 0 0;
  -webkit-transition: all 850ms ease;
  transition: all 850ms ease;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
}

.header .navbar #collapsibleNavbar .nav-item .sub-menu {
  position: absolute;
  background-color: #ffffff;
  min-width: 17rem;
  opacity: 0;
  top: 100%;
  border-radius: 0.7rem;
  visibility: hidden;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  padding: 1rem 0;
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  -ms-border-radius: 0.7rem;
  -o-border-radius: 0.7rem;
}

.header .navbar #collapsibleNavbar .nav-item .sub-menu::before {
  content: "";
  position: absolute;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: -0.6rem;
  left: 3.5rem;
  border: 0.7rem solid #495057;
  border-color: transparent transparent #ffffff #ffffff;
  -webkit-box-shadow: -0.2rem 0.2rem 0.2rem -0.1rem rgba(0, 0, 0, 0.15);
          box-shadow: -0.2rem 0.2rem 0.2rem -0.1rem rgba(0, 0, 0, 0.15);
}

.header .navbar #collapsibleNavbar .nav-item .sub-menu .sub-menu-list {
  padding: 0.7rem 2rem;
  color: #35404e;
  letter-spacing: 0.04em;
  font-size: 1.6rem;
}

.header .navbar #collapsibleNavbar .nav-item .sub-menu .sub-menu-list a {
  color: #35404a;
  -webkit-transition: color 850ms;
  transition: color 850ms;
}

.header .navbar #collapsibleNavbar .nav-item .sub-menu .sub-menu-list a:hover {
  color: #6dc77f;
  -webkit-transition: color 850ms;
  transition: color 850ms;
}

.header .navbar #collapsibleNavbar .nav-item .sub-menu .sub-menu-list a i.fa {
  float: right;
}

.header .navbar #collapsibleNavbar .nav-item .sub-menu .sub-menu-list .sub-menu-sub {
  position: absolute;
  background-color: #ffffff;
  margin-top: -4rem;
  right: -26rem;
  min-width: 17rem;
  padding: 1rem 0;
  border-radius: 0.7rem;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  -ms-border-radius: 0.7rem;
  -o-border-radius: 0.7rem;
}

.header .navbar #collapsibleNavbar .nav-item .sub-menu .sub-menu-list .sub-menu-sub::before {
  content: "";
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 2rem;
  margin-left: -0.6rem;
  border: 7px solid #495057;
  border-color: transparent transparent #ffffff #ffffff;
  -webkit-box-shadow: -0.2rem 0.2rem 0.2rem -0.1rem rgba(0, 0, 0, 0.15);
          box-shadow: -0.2rem 0.2rem 0.2rem -0.1rem rgba(0, 0, 0, 0.15);
}

.header .navbar #collapsibleNavbar .nav-item .sub-menu .sub-menu-list .sub-menu-sub .subs-list {
  padding: 0.7rem 2rem;
}

.header .navbar #collapsibleNavbar .nav-item .sub-menu .sub-menu-list:hover .sub-menu-sub {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  right: -18rem;
}

.header .navbar #collapsibleNavbar .nav-item .sub-menu .sub-menu-list:nth-child(9):hover .sub-menu-sub {
  right: -23.5rem;
}

.header .navbar #collapsibleNavbar .nav-item .sub-menu .sub-menu-list:nth-child(10):hover .sub-menu-sub {
  right: -20rem;
}

.header .navbar #collapsibleNavbar .nav-item:hover .sub-menu {
  opacity: 1;
  top: 7rem;
  -webkit-transition: all 950ms ease;
  transition: all 950ms ease;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
  /* pointer-events: visible; */
  visibility: visible;
}

.header.fixed {
  background: #ffffff !important;
  position: fixed !important;
  width: 100%;
  top: 0;
  border-bottom: none;
  -webkit-box-shadow: 0 0 10px #35404e;
          box-shadow: 0 0 10px #35404e;
  -webkit-transition: all 650ms ease;
  transition: all 650ms ease;
  z-index: 1000;
  /* animation: fixHeader 2.5s ease !important; */
}

.header.fixed .navbar .navbar-brand {
  color: #35404e !important;
}

.header.fixed .navbar #collapsibleNavbar .nav-item:hover .nav-link {
  color: #67c56e !important;
}

.header.fixed .navbar #collapsibleNavbar .nav-item .nav-link {
  color: #35404e !important;
}

.header.fixed .navbar #collapsibleNavbar .nav-item .nav-link.active {
  color: #67c56e !important;
  font-weight: 600;
  position: relative;
  -webkit-transition: color 650ms;
  transition: color 650ms;
}

.home-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/pexels-matt-hardy-1841709.jpg);
  background-size: 100% 100%;
  background-attachment: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-section::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.5;
}

.home-section .home-middle-content {
  position: absolute;
  top: 50%;
  text-align: center;
  left: 50%;
  z-index: 99;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.home-section .home-middle-content .home-content-title {
  font-size: 5.5rem;
  font-weight: 600;
  line-height: 5rem;
  color: #ffffff;
  margin: 0 0 2rem;
}

.home-section .home-middle-content .middle-text-subtitle {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 3.8rem;
  color: #ffffff;
  margin: 0 0 4.5rem;
}

.home-section .home-middle-content .middle-text-subtitle span {
  margin-left: 1rem;
}

.home-section .home-middle-content .middle-text-subtitle span b {
  font-weight: 500;
  letter-spacing: .2rem;
}

.home-section .home-middle-content .mybtn1 {
  padding: .8rem 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.6rem;
  color: #67c56e;
  position: relative;
  transition: all 650ms ease;
  -webkit-transition: all 650ms ease;
  -moz-transition: all 650ms ease;
  -ms-transition: all 650ms ease;
  -o-transition: all 650ms ease;
}

.home-section .home-middle-content .mybtn1:hover {
  transition: all 650ms ease;
  -webkit-transition: all 650ms ease;
  -moz-transition: all 650ms ease;
  -ms-transition: all 650ms ease;
  -o-transition: all 650ms ease;
  color: #ffffff;
}

.home-section .home-middle-content .mybtn1::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #6dc77e;
  opacity: 0.2;
  transition: all 650ms ease;
  -webkit-transition: all 650ms ease;
  -moz-transition: all 650ms ease;
  -ms-transition: all 650ms ease;
  -o-transition: all 650ms ease;
}

.home-section .home-middle-content .mybtn1:hover::before {
  width: 100%;
}

.home-section .home-middle-content .mybtn1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 7%;
  left: 0;
  bottom: 0;
  background-color: #6dc77f;
  transition: all 650ms ease;
  -webkit-transition: all 650ms ease;
  -moz-transition: all 650ms ease;
  -ms-transition: all 650ms ease;
  -o-transition: all 650ms ease;
}

.home-section .home-middle-content .mybtn1:hover:after {
  width: 3%;
  height: 100%;
}

.about_section {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 100px 0;
}

.about_section .about-left-content .about-left-top-details {
  margin-bottom: 3rem;
  position: relative;
}

.about_section .about-left-content .about-left-top-details::before {
  content: "";
  position: absolute;
  width: 3%;
  height: 40%;
  top: 4.3rem;
  left: 5rem;
  transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  border: 2px solid #0f0757;
  border-radius: 50% 50% 0 50%;
  -webkit-border-radius: 50% 50% 0 50%;
  -moz-border-radius: 50% 50% 0 50%;
  -ms-border-radius: 50% 50% 0 50%;
  -o-border-radius: 50% 50% 0 50%;
}

.about_section .about-left-content .about-left-top-details::after {
  content: "";
  position: absolute;
  width: 3%;
  height: 40%;
  top: 4.3rem;
  left: 6.9rem;
  transform: rotate(132deg);
  -webkit-transform: rotate(132deg);
  -moz-transform: rotate(132deg);
  -ms-transform: rotate(132deg);
  -o-transform: rotate(132deg);
  border: 2px solid #0f0757;
  border-radius: 50% 50% 0 50%;
  -webkit-border-radius: 50% 50% 0 50%;
  -moz-border-radius: 50% 50% 0 50%;
  -ms-border-radius: 50% 50% 0 50%;
  -o-border-radius: 50% 50% 0 50%;
}

.about_section .about-left-content .about-left-top-details .about-title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 4rem;
  color: #25ca7f;
  position: relative;
}

.about_section .about-left-content .about-left-top-details .about-title::before {
  content: "";
  width: 7%;
  height: 6%;
  top: 5.1rem;
  left: 1.35rem;
  position: absolute;
  background-color: #0f0757;
}

.about_section .about-left-content .about-left-top-details .about-title::after {
  content: "";
  position: absolute;
  width: 7%;
  height: 6%;
  top: 5rem;
  left: 1.3rem;
  margin-left: 7rem;
  background-color: #0f0757;
}

.about_section .about-left-content .about-left-plane-text {
  margin-bottom: 2rem;
}

.about_section .about-left-content .about-left-plane-text .text-about-2,
.about_section .about-left-content .about-left-plane-text .text-about-1 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: #000000;
  margin-bottom: 3rem;
}

.about_section .about-left-content .about-left-cont-item {
  margin-left: 1.5rem;
}

.about_section .about-left-content .about-left-cont-item .about-left-list {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: #000000;
}

.about_section .about-left-content .about-left-cont-item .about-left-list .mdi {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.8rem;
  color: #67c56e;
  margin-right: 1rem;
}

.about_section .about-left-content .mybtn3 {
  padding: .8rem 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.6rem;
  color: #67c56e;
  position: relative;
  margin-top: 2rem;
  transition: all 650ms ease;
  -webkit-transition: all 650ms ease;
  -moz-transition: all 650ms ease;
  -ms-transition: all 650ms ease;
  -o-transition: all 650ms ease;
}

.about_section .about-left-content .mybtn3:hover {
  transition: all 650ms ease;
  -webkit-transition: all 650ms ease;
  -moz-transition: all 650ms ease;
  -ms-transition: all 650ms ease;
  -o-transition: all 650ms ease;
  color: #ec640f;
  z-index: 99;
}

.about_section .about-left-content .mybtn3::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #6dc77e;
  opacity: 0.2;
  transition: all 650ms ease;
  -webkit-transition: all 650ms ease;
  -moz-transition: all 650ms ease;
  -ms-transition: all 650ms ease;
  -o-transition: all 650ms ease;
}

.about_section .about-left-content .mybtn3:hover::before {
  width: 100%;
  background-color: #000000;
}

.about_section .about-left-content .mybtn3::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 7%;
  left: 0;
  bottom: 0;
  background-color: #6dc77f;
  transition: all 650ms ease;
  -webkit-transition: all 650ms ease;
  -moz-transition: all 650ms ease;
  -ms-transition: all 650ms ease;
  -o-transition: all 650ms ease;
}

.about_section .about-left-content .mybtn3:hover:after {
  width: 3%;
  height: 100%;
}

.about_section .about-right-content {
  width: 80%;
  height: 100%;
  margin-left: 3rem;
  overflow: hidden;
}

.about_section .about-right-content .right-cont-img {
  width: 100%;
  height: 70vh;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.to-top {
  position: fixed;
  bottom: 3rem;
  right: 16rem;
  font-size: 2.8rem;
  background: #adb5bd;
  color: white;
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  border-radius: 0.7rem;
  cursor: pointer;
  text-align: center;
  opacity: 0;
  z-index: 10000;
  pointer-events: none;
  -webkit-transition: all 650ms ease;
  transition: all 650ms ease;
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  -ms-border-radius: 0.7rem;
  -o-border-radius: 0.7rem;
}

.to-top:hover {
  color: #ffffff;
  background: #6dc77f;
  -webkit-transition: all 950ms ease;
  transition: all 950ms ease;
}

.to-top.active {
  opacity: 1 !important;
  right: 3rem;
  -webkit-transition: all 950ms ease;
  transition: all 950ms ease;
  pointer-events: auto !important;
  bottom: 3.2rem;
}

.service-section {
  padding: 60px 0;
  background-image: url(../img/pexels-thomas-svensson-3074526.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.service-section::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #000000;
  opacity: .5;
}

.service-section .service-head .service-title {
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 3.5rem;
  color: #ffffff;
  position: relative;
  margin-bottom: 3rem;
}

.service-section .service-head .service-title::before {
  position: absolute;
  content: '';
  width: 8%;
  height: 6%;
  margin: 0 auto;
  bottom: -12px;
  left: 24.9rem;
  background-color: #25ca7f;
}

.service-section .service-head .service-title::after {
  position: absolute;
  content: '';
  width: 8%;
  height: 6%;
  margin: 0 auto;
  bottom: -10.6px;
  left: 9rem;
  right: 0;
  background-color: #25ca7f;
}

.service-section .service-head .service-title span::before {
  content: "";
  position: absolute;
  width: 3%;
  height: 52%;
  border-radius: 50%;
  border: 4px solid #25ca7f;
  /* text-align: center; */
  top: 37px;
  left: 0px;
  right: 0;
  margin: 0 auto;
}

.service-section .service-head .subtitle-text {
  color: #ffffff;
}

.service-section .service-main-content {
  margin-top: 5.5rem;
}

.service-section .service-main-content .service-content-goup-item {
  width: 100%;
  background-color: #f000;
  padding: 2rem 2.5rem;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  overflow: hidden;
}

.service-section .service-main-content .service-content-goup-item:hover .service-cont-item-icon::after {
  width: 100%;
  height: 100%;
  visibility: visible;
}

.service-section .service-main-content .service-content-goup-item .service-cont-item-icon {
  width: 6.5rem;
  height: 6.5rem;
  color: #67c56e;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 6.5rem;
  position: relative;
  margin-bottom: 2rem;
  text-align: center;
  z-index: 1;
}

.service-section .service-main-content .service-content-goup-item .service-cont-item-icon::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  background-color: #000000;
  z-index: -1;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}

.service-section .service-main-content .service-content-goup-item .service-cont-item-icon::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 0%;
  margin: auto auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border: 1px solid #6dc77e;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  transition: all 650ms ease;
  -webkit-transition: all 650ms ease;
  -moz-transition: all 650ms ease;
  -ms-transition: all 650ms ease;
  -o-transition: all 650ms ease;
  visibility: hidden;
}

.service-section .service-main-content .service-content-goup-item .service-cont-item-icon .fa-mobile {
  font-size: 3.5rem;
  margin-top: 1.5rem;
}

.service-section .service-main-content .service-content-goup-item .service-content-text .servise-cont-title {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 3.2rem;
  color: #ffffff;
  margin-bottom: 1rem;
  opacity: 0.8;
}

.service-section .service-main-content .service-content-goup-item .service-content-text .service-text1 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.6rem;
  color: #ffffff;
  margin-bottom: 2rem;
}

.service-section .service-main-content .service-content-goup-item .service-content-item-option .service-cont-item-list {
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.5rem;
  color: #ffffff;
  opacity: 0.9;
}

.service-section .service-main-content .service-content-goup-item .service-content-item-option .service-cont-item-list .mdi {
  font-size: 1.8rem;
  margin-right: 1rem;
  font-weight: 600;
  color: #6dc77f;
}

.our-team-section {
  position: relative;
  padding: 60px 0;
}

.our-team-section .ourteam-title-heading {
  margin-bottom: 5.5rem;
}

.our-team-section .ourteam-title-heading .ourteam-title {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3rem;
  color: #67c56d;
  text-transform: uppercase;
  margin-bottom: 4rem;
  position: relative;
}

.our-team-section .ourteam-title-heading .ourteam-title::before {
  position: absolute;
  content: '';
  width: 8%;
  height: 6%;
  margin: 0 auto;
  bottom: -14px;
  left: 25.2rem;
  background-color: #25ca7f;
}

.our-team-section .ourteam-title-heading .ourteam-title::after {
  position: absolute;
  content: '';
  width: 8%;
  height: 6%;
  margin: 0 auto;
  bottom: -13.6px;
  left: 8rem;
  right: 0;
  background-color: #25ca7f;
}

.our-team-section .ourteam-title-heading .ourteam-title span::before {
  content: "";
  position: absolute;
  width: 2.8%;
  height: 52%;
  border-radius: 50%;
  border: 4px solid #25ca7f;
  /* text-align: center; */
  top: 37px;
  left: 0px;
  right: 0;
  margin: 0 auto;
}

.our-team-section .our-team-section-content .ourteam-item {
  background-color: #d4d4d4;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  padding: 2rem 3rem;
  border-radius: .7rem;
  -webkit-border-radius: .7rem;
  -moz-border-radius: .7rem;
  -ms-border-radius: .7rem;
  -o-border-radius: .7rem;
  overflow: hidden;
  width: 100%;
  height: auto;
  top: .7rem;
  position: relative;
  transition: all 650ms ease;
  -webkit-transition: all 650ms ease;
  -moz-transition: all 650ms ease;
  -ms-transition: all 650ms ease;
  -o-transition: all 650ms ease;
}

.our-team-section .our-team-section-content .ourteam-item:hover {
  transform: translateY(-0.7rem);
  -webkit-transform: translateY(-0.7rem);
  -moz-transform: translateY(-0.7rem);
  -ms-transform: translateY(-0.7rem);
  -o-transform: translateY(-0.7rem);
}

.our-team-section .our-team-section-content .ourteam-item .our-team-avatar {
  width: 15rem;
  height: 15rem;
  line-height: 16rem;
  margin-bottom: 2rem;
}

.our-team-section .our-team-section-content .ourteam-item .our-team-avatar .outeam-img {
  width: 1005;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.our-team-section .our-team-section-content .ourteam-main-title {
  margin-bottom: 1.5rem;
}

.our-team-section .our-team-section-content .ourteam-main-title .our-team-htitle {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  color: #000000;
}

.our-team-section .our-team-section-content .ourteam-content-text {
  margin-bottom: 1.5rem;
}

.our-team-section .our-team-section-content .ourteam-content-text .ourteam-planetext {
  margin-bottom: 2rem;
}

.our-team-section .our-team-section-content .ourteam-content-text .ourteam-planetext .ourteam-text1 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: #000000;
}

.our-team-section .our-team-section-content .ourteam-social .our-team-social-list {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.6rem;
  color: #000000;
  float: left;
  margin: 1rem;
  transition: all 650ms ease;
  -webkit-transition: all 650ms ease;
  -moz-transition: all 650ms ease;
  -ms-transition: all 650ms ease;
  -o-transition: all 650ms ease;
}

.our-team-section .our-team-section-content .ourteam-social .our-team-social-list:hover {
  color: #6dc77e;
}

.our-letest-service-section {
  padding: 80px 0;
  background-color: #f8f9fa;
  position: relative;
  height: auto;
  width: 100%;
}

.our-letest-service-section .our-latest-service-head {
  margin-bottom: 5rem;
}

.our-letest-service-section .our-latest-service-head .our-latest-service-title {
  font-size: 3rem;
  font-weight: 600;
  line-height: 4rem;
  color: #6dc77e;
  margin-bottom: 4.5rem;
  text-transform: uppercase;
  position: relative;
}

.our-letest-service-section .our-latest-service-head .our-latest-service-title::before {
  position: absolute;
  content: '';
  width: 8%;
  height: 6%;
  margin: 0 auto;
  bottom: -14px;
  left: 25.2rem;
  background-color: #25ca7f;
}

.our-letest-service-section .our-latest-service-head .our-latest-service-title::after {
  position: absolute;
  content: '';
  width: 8%;
  height: 6%;
  margin: 0 auto;
  bottom: -13.6px;
  left: 8rem;
  right: 0;
  background-color: #25ca7f;
}

.our-letest-service-section .our-latest-service-head .our-latest-service-title span::before {
  content: "";
  position: absolute;
  width: 2.8%;
  height: 45%;
  border-radius: 50%;
  border: 4px solid #25ca7f;
  /* text-align: center; */
  top: 44px;
  left: 0px;
  right: 0;
  margin: 0 auto;
}

.our-letest-service-section .our-letest-services-cont .our-letest-services {
  width: 100%;
  height: 30vh;
  padding: 2rem 2.5rem;
  position: relative;
  top: 7px;
  border-radius: .7rem;
  -webkit-border-radius: .7rem;
  -moz-border-radius: .7rem;
  -ms-border-radius: .7rem;
  -o-border-radius: .7rem;
  margin-bottom: 3rem;
  transition: all 650ms ease;
  -webkit-transition: all 650ms ease;
  -moz-transition: all 650ms ease;
  -ms-transition: all 650ms ease;
  -o-transition: all 650ms ease;
}

.our-letest-service-section .our-letest-services-cont .our-letest-services:hover {
  background-color: #f2f2f2;
  transform: translateY(-7px);
  -webkit-transform: translateY(-7px);
  -moz-transform: translateY(-7px);
  -ms-transform: translateY(-7px);
  -o-transform: translateY(-7px);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

.our-letest-service-section .our-letest-services-cont .our-letest-services .letest-service-icone {
  margin-top: 1.7rem;
}

.our-letest-service-section .our-letest-services-cont .our-letest-services .letest-service-icone .mdi {
  font-size: 3rem;
  font-weight: 600;
  line-height: 4rem;
  color: #6dc77a;
}

.our-letest-service-section .our-letest-services-cont .our-letest-services .letes-service-main-cont {
  position: absolute;
  top: 2.5rem;
  left: 7.7rem;
}

.our-letest-service-section .our-letest-services-cont .our-letest-services .letes-service-main-cont .letes-main-cont-title {
  width: 100%;
}

.our-letest-service-section .our-letest-services-cont .our-letest-services .letes-service-main-cont .letes-main-cont-title .letest-service-title {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.8rem;
  color: #67c56e;
  margin-bottom: 1rem;
}

.our-letest-service-section .our-letest-services-cont .our-letest-services .letes-service-main-cont .letes-main-cont-title .letest-main-cont-text {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: #000000;
}

.our-letest-service-section .our-letest-services-cont .our-letest-services .letes-service-main-cont .letes-main-cont-title .mybtn2 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: #fa6b19;
  text-decoration: underline;
}

.our-letest-service-section .our-letest-services:hover {
  background-color: #32cfaa;
}

.our-letest-service-section .our-letest-services:hover .letest-service-icone .mdi {
  color: #000000;
}

.popup-gellary-section {
  position: relative;
  padding: 80px 0;
  height: auto;
}

.popup-gellary-section .popup-gellary-portfolio {
  margin-bottom: 6.5rem;
}

.popup-gellary-section .popup-gellary-portfolio .portfolio-title {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.8rem;
  color: #67c56d;
  margin-bottom: 4rem;
  position: relative;
}

.popup-gellary-section .popup-gellary-portfolio .portfolio-title::before {
  position: absolute;
  content: '';
  width: 8%;
  height: 6%;
  margin: 0 auto;
  bottom: -14px;
  left: 25.2rem;
  background-color: #25ca7f;
}

.popup-gellary-section .popup-gellary-portfolio .portfolio-title::after {
  position: absolute;
  content: '';
  width: 8%;
  height: 6%;
  margin: 0 auto;
  bottom: -13.6px;
  left: 8rem;
  right: 0;
  background-color: #25ca7f;
}

.popup-gellary-section .popup-gellary-portfolio .portfolio-title span::before {
  content: "";
  position: absolute;
  width: 2.8%;
  height: 45%;
  border-radius: 50%;
  border: 4px solid #25ca7f;
  /* text-align: center; */
  top: 44px;
  left: 0px;
  right: 0;
  margin: 0 auto;
}

.popup-gellary-section .portfolio-gallery {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* justify-content: space-between; */
}

.popup-gellary-section .portfolio-gallery .gallery-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  padding: 8px;
  position: relative;
}

.popup-gellary-section .portfolio-gallery .gallery-item img {
  width: 344px;
  display: block;
  height: 230px;
}

.popup-gellary-section .portfolio-gallery .gallery-item .item-img {
  position: relative;
  margin-top: 20px;
}

.popup-gellary-section .portfolio-gallery .gallery-item .item-img:hover .item-img-overlay {
  visibility: visible;
  opacity: .5;
  -webkit-transition: all 950ms ease;
  transition: all 950ms ease;
  width: 92%;
}

.popup-gellary-section .portfolio-gallery .gallery-item .item-img .item-img-overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  width: 0%;
  padding: 30px;
  -webkit-transition: all 750ms ease;
  transition: all 750ms ease;
  background: rgba(17, 2, 2, 0.95);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 650ms ease;
  transition: all 650ms ease;
}

.popup-gellary-section .portfolio-gallery .gallery-item .item-img .item-img-overlay .overlay-info h6 {
  position: absolute;
  left: 10px;
  bottom: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #6dc678;
  z-index: 10;
}

.popup-gellary-section .portfolio-gallery .gallery-item .item-img .item-img-overlay .overlay-info p {
  position: absolute;
  left: 10px;
  bottom: 50px;
  text-align: center;
  font-size: 14px;
  color: #6dc77a;
  z-index: 10;
}

.popup-gellary-section .portfolio-gallery .gallery-item .item-img .item-img-overlay .icon {
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #ec640f;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  color: #fa6b19;
}

.popup-gellary-section .row.no-gutter [class*=col-] {
  padding: 0;
  margin-top: -20px;
  /* margin-right: -12px; */
}

/* ========-POpLight section===========[start]=-=*/
.poplight-section {
  padding: 100px 0;
  height: 70vh;
  background-image: url(../img/pexels-min-an-1004014.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.poplight-section .poplight-content-dec h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  margin: 0 0 20px;
  color: #ffffff;
}

.poplight-section .poplight-content-dec p {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.6);
}

.poplight-section .poplight-content-dec .poplight-ovrly-vbtn .button {
  height: 65px;
  width: 65px;
  font-size: 30px;
  line-height: 52px;
  border-radius: 50%;
  display: inline-block;
  border: 5px solid rgba(255, 255, 255, 0.4);
  margin-top: 30px;
  background: #32cfaa;
  -webkit-box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.poplight-section .poplight-content-dec .poplight-ovrly-vbtn .button:hover {
  -webkit-box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.2);
}

.poplight-section .poplight-content-dec .poplight-ovrly-vbtn .button i.mdi {
  -webkit-text-stroke: 2px #ffffff;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  color: #ffffff !important;
  text-align: center;
  transition: all 750ms ease;
  -webkit-transition: all 750ms ease;
  -moz-transition: all 750ms ease;
  -ms-transition: all 750ms ease;
  -o-transition: all 750ms ease;
}

.poplight-section .poplight-content-dec .poplight-ovrly-vbtn .button i.mdi:hover {
  -webkit-text-stroke: 2px #ffffff;
  -webkit-text-fill-color: #ffffff;
  transition: all 750ms ease;
  -webkit-transition: all 750ms ease;
  -moz-transition: all 750ms ease;
  -ms-transition: all 750ms ease;
  -o-transition: all 750ms ease;
}

.poplight-section .poplight-content-dec .poplight-ovrly-vbtn h6.poplight-btn-derc {
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: #ffffff;
  margin: 15px 0 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

iframe {
  margin-top: 95px;
  margin-left: 37px;
}

button.mfp-close {
  overflow: visible;
  cursor: pointer;
  background: #ffffff !important;
  border: none;
  display: block;
  outline: 0;
  padding: 0;
  z-index: 10000;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.mfp-close {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  position: absolute;
  right: 40px;
  top: 60px !important;
  color: black;
}

/* ==========================Testimonials section=============================[Start]========= */
.testimonials-section {
  padding: 8rem 0 2rem;
}

.testimonials-section .testimnials-content {
  margin: 2rem 0 2rem;
}

.testimonials-section .testimnials-content p {
  color: #667482;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 26px;
  font-style: italic;
  font-family: 'Roboto Condensed', sans-serif;
}

.testimonials-section .testimnials-content img {
  width: 60px !important;
  border: 1px solid #ffffff;
  border-radius: 50px;
  margin: 10px auto 0;
}

.testimonials-section .testimnials-content h6 {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #6C757D;
  margin: 20px 0 0;
}

.testimonials-section .testimnials-content h3 {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}

/* ==========================Testimonials section=============================[END]========= */
/* ========-news section===========[start]=-=*/
.news-section {
  padding: 60px 0;
}

.news-section .titlee-hedin-connt {
  padding: 0 0 56px;
}

.news-section .blogs-item-contents {
  border: 1px solid #f9f7fa;
  border-radius: 7px;
  margin: 20px 0 0;
  position: relative;
  top: 5px;
  -webkit-transition: all 750ms ease;
  transition: all 750ms ease;
}

.news-section .blogs-item-contents:hover {
  top: -5px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 750ms ease;
  transition: all 750ms ease;
}

.news-section .blogs-item-contents .blog-iitems-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  position: relative;
}

.news-section .blogs-item-contents .blog-iitems-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.news-section .blogs-item-contents:hover .blog-iitems-img::before {
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.news-section .blogs-item-contents .blog-iitems-img img {
  width: 348px;
  height: 261px;
  border: 1px solid transparent;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.news-section .blogs-item-contents .blog-img-oveerly {
  position: absolute;
  bottom: 0;
  right: 20px;
  z-index: 2222;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.news-section .blogs-item-contents:hover .blog-img-oveerly {
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.news-section .blogs-item-contents .blog-img-oveerly p {
  margin: 0 0 5px 60px;
}

.news-section .blogs-item-contents .blog-img-oveerly p i.fa {
  color: #ec640f;
  font-weight: 700;
  font-size: 15px;
}

.news-section .blogs-item-contents .blog-img-oveerly p span {
  color: #ffffff;
  font-weight: 700;
  font-size: 15px;
}

.news-section .blogs-item-contents .blog-img-oveerly h6 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  cursor: pointer;
}

.news-section .blogs-item-contents .blogs-items-title-conteent {
  padding: 20px;
  background-color: #f8f9fa;
}

.news-section .blogs-item-contents .blogs-items-title-conteent h6 {
  color: #6dc77e;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  margin: 0 0 10px;
}

.news-section .blogs-item-contents .blogs-items-title-conteent h6 span {
  color: #8492a6;
  float: right;
}

.news-section .blogs-item-contents .blogs-items-title-conteent h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #35404e;
}

.news-section .blogs-item-contents .blogs-items-title-conteent h3:hover {
  color: #67c56d;
  -webkit-transform: 650ms;
          transform: 650ms;
}

.news-section .blogs-item-contents .blogs-items-title-conteent p {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #8492a6;
  margin: 0 0 20px;
}

.news-section .blogs-item-contents .blogs-items-title-conteent .blog-footimg {
  border-top: 2px solid #e9ecef;
  padding-top: 10px;
}

.news-section .blogs-item-contents .blogs-items-title-conteent .blog-footimg img {
  width: 35px;
  height: 35px;
  border: 1px solid transparent;
  border-radius: 50px;
}

.news-section .blogs-item-contents .blogs-items-title-conteent .blog-footimg span {
  color: #35404e;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 0 10px;
}

/* ========-news section===========[End]== */
/* ========-contact section===========[start]=-=*/
.contact-section {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  padding: 20px 30px;
  background-color: #32cfaa;
}

.contact-section .contact-content {
  padding: 20px 0;
}

.contact-section .contact-content h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  color: #ffffff;
}

.contact-section .contact-content h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.6);
}

.contact-section .contact-btn {
  padding: 40px 0 0;
}

.contact-section .contact-btn .mybtn4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  border-radius: 7px;
  padding: 6px 20px;
  background: #535353;
  -webkit-transition: all 750ms ease;
  transition: all 750ms ease;
}

.contact-section .contact-btn .mybtn4:hover {
  background: #6dc77f;
  color: #ffffff;
  -webkit-transition: all 650ms ease;
  transition: all 650ms ease;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

.contact-section .contact-btn .mybtn4 i.fa {
  margin-right: 4px;
  margin-top: 3px;
  font-size: 16px;
  color: #67c56d;
}

.contact-section .contact-btn .mybtn4:hover i.fa {
  color: #ffffff;
}

/* ========-contact section===========[End]== */
/* ========-contactus section===========[start]=-=*/
.contactsUs-section {
  padding: 100px 0;
}

.contactsUs-section .titlee-hedin-connt {
  margin: 0 0 75px;
}

.contactsUs-section .contact-us-ctntct-info {
  margin: 0 0 60px;
}

.contactsUs-section .contact-info-des-item {
  width: 100%;
}

.contactsUs-section .contact-info-des-item .contact-info-dec {
  right: -110px;
  position: relative;
  top: 15px;
}

.contactsUs-section .contact-info-des-item .contact-info-dec h5 {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #535353;
  margin: 0 0 8px;
}

.contactsUs-section .contact-info-des-item .contact-info-dec h6 {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  color: #707070;
}

.contactsUs-section .contact-info-des-item .icons-contact {
  font-size: 30px;
  font-weight: 800;
  line-height: 96px;
  width: 96px;
  height: 96px;
  background-color: #32cfaa;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

.contactsUs-section .contact-info-des-item .icons-contact a {
  color: #ffffff;
}

/* -----------/ */
.contactsUs-section .contact-form .form-group {
  margin-bottom: 23px;
}

.contactsUs-section .form-group label {
  color: #535353;
  font-weight: 600;
  line-height: 24px;
  font-size: 14px;
}

.contactsUs-section .form-group ::-webkit-input-placeholder {
  font-weight: 300;
  line-height: 24px;
  font-size: 14px;
}

.contactsUs-section .form-group :-ms-input-placeholder {
  font-weight: 300;
  line-height: 24px;
  font-size: 14px;
}

.contactsUs-section .form-group ::-ms-input-placeholder {
  font-weight: 300;
  line-height: 24px;
  font-size: 14px;
}

.contactsUs-section .form-group ::placeholder {
  font-weight: 300;
  line-height: 24px;
  font-size: 14px;
}

.contactsUs-section .contact-form .form-control {
  height: 44px;
  color: #555555;
  border: none;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  -webkit-transition: all 650ms ease;
  transition: all 650ms ease;
}

.contactsUs-section .contact-form .form-control:focus {
  border-color: #32cfaa;
  -webkit-transition: 650ms;
  transition: 650ms;
}

.contactsUs-section .contact-form textarea.form-control {
  height: 165px;
}

.contactsUs-section .contact-form .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contactsUs-section .form-group > .mybtn2:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contactsUs-section .form-group > .mybtn2 {
  padding: 8px 20px;
  background: #32cfaa;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  position: relative;
  -webkit-transition: 650ms;
  transition: 650ms;
  text-align: center;
  margin-top: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.contactsUs-section .form-group > .mybtn2:hover {
  background-color: #6dc678;
  -webkit-transition: 960ms;
  transition: 960ms;
}

/* ========-contactuss section===========[End]== */
/* ========-footer section===========[start]=-=*/
.footer-section {
  padding: 40px 0 0px;
  background-color: #353535;
}

.footer-section .footer-1st-container h4 {
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
  color: #ffffff;
  margin: 0 0 30px;
}

.footer-section .footer-1st-container p {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  color: #adb5bd;
  margin: 0 0 25px;
}

.footer-section .footer-1st-container .footer-head-link .social-link-footer {
  display: inline-block;
}

.footer-section .footer-1st-container .footer-head-link .social-link-footer a {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 33px;
  margin: 0 5px;
  line-height: 33px !important;
  text-align: center;
  color: #535353;
  color: #707070;
}

.footer-section .footer-1st-container .footer-head-link .social-link-footer a::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 1px solid #dee2e6;
  border-radius: 6px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.footer-section .footer-1st-container .footer-head-link .social-link-footer a:hover:before {
  border-color: #32cfaa !important;
  background: #32cfaa;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  z-index: -1;
}

.footer-section .footer-1st-container .footer-head-link .social-link-footer:hover a {
  color: #ffffff;
  z-index: 1;
}

.footer-section .footer-2nd-container h4 {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  margin: 0 0 30px;
  text-transform: uppercase;
}

.footer-section .footer-2nd-container .footer-cont-list .footer-list-link {
  margin: 0 0 10px;
  color: #adb5bd;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
}

.footer-section .footer-2nd-container .footer-cont-list .footer-list-link a {
  color: #adb5bd;
}

.footer-section .footer-2nd-container .footer-cont-list .footer-list-link a:hover {
  color: #32cfaa;
}

.footer-section .footer-2nd-container .footer-cont-list .footer-list-link a i.mdi {
  margin-right: 10px;
}

.footer-section .footer-3rd-container h4 {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  margin: 0 0 30px;
  text-transform: uppercase;
}

.footer-section .footer-3rd-container .rd-content-list .list-comment-footer a {
  background: #495057;
  border-radius: 2px;
  color: #adb5bd;
  display: inline-block;
  font-size: 9px;
  letter-spacing: 1px;
  margin: 5px 10px 5px 0;
  padding: 8px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer-section .footer-3rd-container .rd-content-list .list-comment-footer {
  display: inline-block;
}

.footer-section .footer-3rd-container .rd-content-list .list-comment-footer a:hover {
  background: #32cfaa;
  color: #ffffff;
}

.footer-section .footer-4th-container h4 {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  margin: 0 0 30px;
  text-transform: uppercase;
}

.footer-section .footer-4th-container .footer-4th-date-dec .footer-cont-4th-list {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  margin: 0 0 5px;
}

.footer-section .footer-4th-container .footer-4th-date-dec .footer-cont-4th-list a {
  color: #adb5bd;
}

.footer-section .foot-section {
  margin-top: 40px;
  padding: 30px 0;
  border-top: 1px solid #495057;
}

.footer-section .foot-section .copyright-cont {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  color: #adb5bd;
}

.footer-section .foot-section .copyright-cont span {
  color: #ec640f;
}

/* ========-footer section===========[End]== */
/*# sourceMappingURL=modiulwork.css.map */